body{
    background:#f4f7fb;
    font-family:Arial, sans-serif;
}

.container{
    max-width:900px;
}

.card{
    width:100%;
    max-width:550px;
    margin:auto;
    border:none;
    border-radius:15px;
}

.shadow{
    box-shadow:0 10px 30px rgba(0,0,0,0.12)!important;
}

.card-body{
    padding:40px;
}

h2{
    font-size:34px;
    font-weight:600;
    color:#222;
    white-space:nowrap;
}

.form-label{
    font-weight:600;
    margin-bottom:8px;
}

.form-control{
    height:48px;
    font-size:16px;
    border-radius:8px;
}

.btn{
    height:48px;
    font-size:17px;
    border-radius:8px;
    font-weight:600;
}

p{
    font-size:15px;
}

a{
    text-decoration:none;
    font-weight:600;
}